/* resetting browser stuff */
*     {
  box-sizing: border-box;
}
html,
body   {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
}

/* styling our overall page */
html, body     {
  background: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  text-align:center;
}


